<!DOCTYPE html>
html(lang="ru")

  head
    title Circle for 7days.ru

    meta(name="viewport", content="width=device-width, initial-scale=1")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(charset="UTF-8")

    link(rel="icon", type="image/svg+xml", href="img/circle-icon.svg")
    link(rel="icon", type="image/png", href="img/circle-icon.png")
    link(rel="stylesheet" href="./css/all.css")
    link(href="https://fonts.googleapis.com/css?family=Open+Sans:100,200,400,600,800", rel="stylesheet")

